@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white;
}
.head{
    background-color: #373737;
    padding: 8px 120px;
    display: flex;
    justify-content:end;
    font-size: 14px;
}

.head > div:first-child{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 80px ;
}

.head > div:first-child a{
    color: white;
    margin: 0 5px;
}

.head > div:last-child a{
    color: white;
    margin: 0 10px;
}

.container{
    width: 1100px;
    margin: auto;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.header-main figure{
    width: 250px;
    
}
.header-main figure img{
    width: 100%;
} 

.header-main nav > ul{
    display: flex;
}

.header-main nav > ul li{
    font-size: 12px;
    margin: 0 8px;
}

nav > ul li a{
    color: #000;
    text-decoration: none;
}

nav > ul li i{
    padding-left: 10px;
}
.banner-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image:url(./image/jodhpur-1215239.jpg);
    background-size: cover;
    background-position: center -250px;
    text-align: center;
    padding: 200px 0 100px 0;
}

.banner-inner > h2{
    color: white;
    font-size: 35px;
}

.banner-inner > p{
    color: white;
    font-size: 22px;
}

.banner-section > div:first-child,
.banner-section > div:last-child {
      background-color: rgba(255,255,255,0.2);
      padding: 10px;
      font-size: 30px;
    }   


.banner-form{
    background-color: rgba(255,255,255,0.2);
    margin-top:30px;
    padding: 10px;    
}

.banner-form > form > div:first-child{
    border-bottom: 1px solid white;
    text-align: left;
}

.banner-form > form > div:first-child button{
    padding:10px 20px;
    background-color: white;
    border-radius: 6px 6px 0 0;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

.banner-form-active-btn{
    background-color: #009ddc !important;
    color: white !important;
}
.banner-form > form > div:last-child{
    display: flex;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 30% 30% 14% 14% 12%;
}
.banner-form > form > div:last-child input,
.banner-form > form > div:last-child select
{
    font: 18px;
    padding: 6px 8px;
    border: 1px solid lightslategrey;
}

.banner-form > form > div:last-child button{
    background-color: #009ddc;
    color: white;
    font-weight: 500;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 10px 20px;
}

.intro-section{
    padding-top: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.matter h1{
	font-size: 23px;
	font-family: "Philosopher", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	margin-bottom: 10px;
}
.matter p{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
	color: #4f4f4f;
	font-weight: 400;
	text-align: justify;
}

.matter > p > a{
    font-size: 18px;
    font-weight: 500;
    font-weight: bold;
    color: #009ddc;
}

.matter{
	width: 500px;
}

.image > img{
    width: 500px;
}

nav > ul > li{
    position: relative;
}
.inner-nav{
    position: absolute;
    width: 800px;
    left: -170px;
    background-color: white;
    padding: 20px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px ;
    opacity: 0;
    visibility: hidden;
    top:130%;
    transition: 0.2s;
}
nav > ul > li:hover .inner-nav{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.raj{
    display: block;
    width: 250px;
    left:0%;
}

.inner-nav > li {
    border-bottom: 1px solid #009ddc;
    padding: 10px;
}

.oneway{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: -280%;
}

.matter > button{
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #373737;
    margin-top: 20px;
    
}

.experience{
    text-align: center;
    margin-top: 150px;
}

.experience > div > h1{
    font-size: 30px;
    font-family: "Philosopher", sans-serif;    
    padding-bottom: 15px;
}

.experience > div >img{
    margin: 14px 20px;
}

.experience > div > p{
    font-size:14px;
    color: #373737;
    padding-top: 15px;
}

.luxury-car{
	display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.luxury{
	width: 290px;
	margin-left: 50px;
}

.luxury > img{
	width: 100%
}

.luxury > h4{
	padding-bottom: 10px;
	text-align: center;
	font-size: 18px;
    font-family:  "Philosopher", sans-serif;

}

.luxury > ul{
    border: 0.5px solid #d9d8d8;
	border-radius: 5px;
   
}
.luxury > ul >li {
	border-bottom:0.5px solid #d9d8d8;
	padding: 15px 50px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}


.luxury > ul > li:nth-child(3){
	border:none
}

.luxury > ul >li > i{
	margin-right: 10px;
}

.journy{
    margin-top: 50px;
    background-color: #F1F3F6;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.pic{
    width: 800px;
    display: flex;
    margin-left: 100px;
    }

.pic > img{
    width: 275px;
    margin-right: 20px ;

}
.matter-o{
    width: 50%;
    text-align: justify;
}
.matter-o > h1{
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    font-family:"Philosopher", sans-serif ;
}
.matter-o > p{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #4f4f4f;
}

.matter-o > h5{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin:15px 20px;
    color: #4f4f4f;
}


.destinations{
    text-align: center;
    margin-top: 150px;

}

.destinations > h1{
    font-family:"Philosopher", sans-serif ;
    font-size: 30px;
}

.destinations > img{
    margin: 30px 0;
}

.destination{
	width:1100px;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	gap: 10px;
}

.inner-div{
	height: 400px;
	text-align: center;
	padding: 10px;
}

.inner-div > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.inner-div > button{
	border: none;
	font-size: 18px;
	font-weight: 550;
	margin-top:10px ;
	padding: 10px 20px;
	background-color: #54595f;
	color: white;
    cursor: pointer;
}

.inner-div >h1{
    margin-top: 10px;
    color: white;
    font-size: 50px;
    font-family: "Londrina Solid", sans-serif;
    -webkit-text-stroke: 0.3px black;
    letter-spacing: 2px;
}
.inner-div >p{
    margin-top: 10px;
    color: rgb(79,79,79);
    padding-bottom:20px ;
}

.certifide{
    margin-top: 150px;
    background-image: linear-gradient(to right, #282828 38%,#01A0DE);
    display: flex;
    justify-content: space-around;
}

.leaner{
    padding: 0 50px;
    text-align: center;
   
}
.leaner > h1{
    font-family:"Philosopher", sans-serif ;
    font-size: 30px;
    color: white;
    
}
.leaner > p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
  
}
.certifimg{
    height: 200px;
    padding: 15px 20px;  
}
.certifimg > img{
    width: 100%;
    height: 100%;
}
.india{
    margin-right: 70px;
}

.whychoos{
    margin-top: 120px;
    text-align: center;
}

.choose > h1{
    font-size: 30px;
    font-family:"Philosopher", sans-serif ;
}
 .choose > img{
    padding:  30px 0;
 }

 .choose > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    color: rgb(79,79,79);
}

.main-design{
    margin-top: 150px;
    height: 600px;
    width: 900px;
    position: relative;
}

.main-design > img{
    height: 60%;
    width: 70%;
    position: absolute;
    left: 110px;
    top: 150px;
}

.s1{
    position: absolute;
    left:50px;
    top: 20px;
    width:120px;
    height: 120;
}
.s2{
   position: absolute;
   top:155px;
   left:-50px;
   width:120px;
   height: 120;
}
.s3{
    position: absolute;
    top:320px;
    left:-50px;
    width:120px;
    height:120px;  
}
.s4{
    position: absolute;
    left:250px;
    top:-60px;
    width:120px;
    height: 120px;
}
.s5{
    position: absolute;
    left:475px;
    top:-60px;
    width:120px;
    height: 120px;
}
.s6{
    position: absolute;
    left:675px;
    top:10px;
    width:120px;
    height: 120px;
}
.s7{
    position: absolute;
    left: 800px;
    top: 140px;
    width:120px;
    height: 120px;
}
.s8{
    position: absolute;
    left: 800px;
    top: 300px;
    width:120px;
    height: 120px;
}


.hov > img:hover{
    transform: rotate(360deg);
    transition: 1.5s;
}

.DS{
    margin-top: 150px;
    text-align: center;
}

.DS > h1{
    font-family:"Philosopher", sans-serif;
    font-size: 30px;
}

.DS > img{
    margin-top: 30px;
}

.main{
    display: flex;
    justify-content:space-between;
   
}

.first{
	margin-top: 100px;
	height: 355px;
	width: 140px;
	background-color: #834E30;
	border-radius: 0 10px 10px 0;
	border: 1px solid;
}

.first > h1{
	margin-top: 145px;
	font-weight: bolder;
	-webkit-text-stroke:0.3px black;
	color: white;
	transform: rotate(90deg);
	width: 350px;
	font-family: "Londrina Solid", sans-serif;
	font-size: 55px;
}

.forts {
    margin-left: 110px;
    margin-top: 100px;
    width: 400px;
}

.forts > img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.historical{
    margin-top: 100px;
    width: 700px;
    background-color: #848B97;
    padding: 15px;
    border-radius: 10px 0 0px 10px;
    box-shadow: 2px 5px 6px gray;
}

.historical >h1{
    text-transform: capitalize;
    font-family:"Philosopher", sans-serif; 
    font-size: 30px;
    color: white;

}
.historical > p{
    width: 80%;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: white;
    font-weight: 500;
}

.texi-main{
    display: flex;
}
.texi{
    margin-top: 100px;
    text-align: center;
  
}
.texi > h1{
    font-family:"Philosopher", sans-serif; 
    font-size: 30px;
}

.texi > img{
    margin-top: 30px;
}

.texi-inner{
    width: 165px;
    margin-left: 30px;
}
.texi-inner > h1{
    margin-top: 135px;
    font-weight: bolder;
	-webkit-text-stroke:0.3px black;
	color: white;
	transform: rotate(90deg);
	width: 255px;
	font-family: "Londrina Solid", sans-serif;
	font-size: 40px;
    text-transform: capitalize; 
}

.texi-inner2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    
}
.servicesF{
    margin-left: 10px;
    margin-top: 50px;
    height: 300px;
    width: 250px;
    text-align: center;
}
.servicesF > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.servicesF > h5{
    text-transform: capitalize;
    font-size: 16px;
    background-color: #28292E;
    padding:10px;
    text-align: center;
    color: white;
}


.cost-exper{
    margin-top:50px ;
    display: flex;
    justify-content: space-between;
     
}
.firstexp{
    text-align: center;
    padding: 20px;
}

.firstexp > h2{
    margin-top: 40px;
    font-family:"Philosopher", sans-serif ;
}

.firstexp > p{
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}
.firstexp > img{
    height: 50%;
    width: 100%;
}

.sectexi{
    height: 300px;
    background-image: url(./image/Jaipur-Rajasthan.jpg);
    background-size: cover;
    background-position: center;
}

.ourpartners{
    background-color: #E7F8FF;
    padding-bottom: 40px;
}

.ourpartners > h1{
    font-family:"Philosopher", sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 30px 0;
    text-transform: capitalize;
}
.op-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inner-cont{
    width: 170px;
    height: 97px;
    border: 1px solid #ececec;
    text-align: center !important;
    background-color: white ;
    border-radius: 3px;
    padding: 10px;
    display: table-cell;
    vertical-align: middle !important;
}

.inner-cont > img{
    display: block;
    width: 100%;
}

.g20{
    background-image: url(./image/g20-bg.jpg);
    background-position: bottom;
    background-size: auto 90%;
    background-repeat: repeat-x;
    padding: 10px 0;
}

.g20 .container{
    display: flex;
    align-items: center;
}

.g20 .container .heading-g20{
    width: 65%;
    background-image: -webkit-linear-gradient(270deg, orange 53%, white 65%,green 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.g20 .container .heading-g20 h1{
    font-size: 35px;
}

.g20 .container .g20-img{
    width: 16%;
   }

.g20 .container .g20-img > img{
    width: 100%;
}

footer{
    background-color: #28292E;
    border-top: 2px solid white;
}


.foter-one{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.foter-one	img{
	height: 25%;
	width: 25%;
}

.foter-one > div p a {
	padding: 10px;
	color: white;
	text-decoration: none;
	line-height: 25px;

}

.foter-two{
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.foter-two > div{
	margin: 0 70px;
}

.foter-two	img{
	height: 25%;
	width: 25%;
}

.foter-two > div p a {
	color: white;
	text-decoration: none;
	line-height: 25px;
}

.foter-two{
	border-bottom: 1px solid white;
}

.footer-last-section{
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.footer-last-section img{
	margin-left: 20px;
	height: 30%;
	width: 30%;
}

.footer-last-section > div p a{
	color: white;
	text-decoration: none;
}
.footer-last-section > div p{
	padding-top: 10px;
	margin-left: 20px;
}

.logo img{
	margin-right: 50px;
	height: 50%;
	width: 50%;
	filter: brightness(0) invert(1);
}
